<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PyramusWebServices</display-name>

  <!-- Filters -->

  <filter>
    <filter-name>IpLoggingFilter</filter-name>
    <filter-class>fi.pyramus.services.utils.IpLoggingFilter</filter-class>
  </filter>

  <filter>
    <filter-name>TransactionFilter</filter-name>
    <filter-class>fi.pyramus.services.utils.TransactionFilter</filter-class>
  </filter>

  <!-- Services -->

  <servlet>
    <display-name>BaseService</display-name>
    <servlet-name>BaseService</servlet-name>
    <servlet-class>fi.pyramus.services.BaseService</servlet-class>
  </servlet>

  <servlet>
    <display-name>CoursesService</display-name>
    <servlet-name>CoursesService</servlet-name>
    <servlet-class>fi.pyramus.services.CoursesService</servlet-class>
  </servlet>

  <servlet>
    <display-name>GradingService</display-name>
    <servlet-name>GradingService</servlet-name>
    <servlet-class>fi.pyramus.services.GradingService</servlet-class>
  </servlet>

  <servlet>
    <display-name>ModulesService</display-name>
    <servlet-name>ModulesService</servlet-name>
    <servlet-class>fi.pyramus.services.ModulesService</servlet-class>
  </servlet>

  <servlet>
    <display-name>StudentsService</display-name>
    <servlet-name>StudentsService</servlet-name>
    <servlet-class>fi.pyramus.services.StudentsService</servlet-class>
  </servlet>

  <servlet>
    <display-name>UsersService</display-name>
    <servlet-name>UsersService</servlet-name>
    <servlet-class>fi.pyramus.services.UsersService</servlet-class>
  </servlet>

  <!-- Logging filter mapping -->

  <filter-mapping>
    <filter-name>IpLoggingFilter</filter-name>
    <url-pattern>/services/*</url-pattern>
  </filter-mapping>

  <!-- Transaction filter mapping -->

  <filter-mapping>
    <filter-name>TransactionFilter</filter-name>
    <url-pattern>/services/*</url-pattern>
  </filter-mapping>

  <!-- Service mappings -->

  <servlet-mapping>
    <servlet-name>BaseService</servlet-name>
    <url-pattern>/services/Base/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CoursesService</servlet-name>
    <url-pattern>/services/Courses/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GradingService</servlet-name>
    <url-pattern>/services/Grading/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ModulesService</servlet-name>
    <url-pattern>/services/Modules/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>StudentsService</servlet-name>
    <url-pattern>/services/Students/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UsersService</servlet-name>
    <url-pattern>/services/Users/*</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WebServices</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>WebServices</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>WebServices</realm-name>
  </login-config>
  <security-role>
    <description>Pyramus WebServices</description>
    <role-name>WebServices</role-name>
  </security-role>
</web-app>