@CHARSET "UTF-8";

.ixTable {
  width: 100%; 
  display: table;
}

.ixTableHeaderRow {
  height: 24px;
}

.ixTableRowContent {
  position: relative;
}

.ixTableClickableRow {
  cursor: pointer;
}

.ixTableHeaderCell, .ixTableCell {
  position: absolute;
}

.ixTableHeaderCell {
  font-weight: bold;
}

.ixTableHeaderCellText {
  float:left;
  margin-right: 4px;
}

.ixTableHeaderColumValueButton {
  background-image:url(../gfx/overwrite-column-values.png);
  background-repeat:no-repeat;
  cursor:pointer;
  width:16px;
  height:16px;
  float:left;
  margin-left:4px;
}

.ixTableRowContent {
  height: 26px;
}

.ixTableCellEditorText {
  width: 100%;
}

.ixTableCellEditorAutoComplete>input.ixTableCellEditorAutoCompleteText {
  width: 100%;
}

.ixTableCellEditorAutoCompleteSelect>input.ixTableCellEditorAutoCompleteSelectText {
  width: 100%;
}

.ixTableCellEditorClickable {
  cursor: pointer;
}

.ixTableCellEditorNumber {
  width: 100%;
  text-align: right; 
}

.ixTableCellViewer {
  white-space: nowrap;
  overflow: hidden;
}

.ixTableCellViewerDate {
  width: 100%;
  padding-top:3px;
}

.ixTableCellViewerText {
  width: 100%;
  padding-top:3px;
}

.ixTableCellViewerSelect {
  width: 100%;
  padding-top:3px;
}

.ixTableCellViewerAutoComplete {
  width: 100%;
  padding-top:3px;
}

.ixTableCellViewerNumber {
  width: 100%;
  text-align: right; 
  padding-top:3px;
}

.ixTableCellEditorButton {
  border: 1px solid #739de7;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  cursor:pointer;
  width:16px;
  height:16px;
  padding:2px 2px 2px 2px;
}

.ixTableDelRowButton {
  background-image: url(../gfx/list-remove.png);
}

.ixTableRowButton {
  width: 16px;
  height: 16px;
  border: 1px solid #739de7;
  float: right;
  margin-left: 2px; 
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  margin-top: 0px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:2px;
  border-radius:5px;
  cursor:pointer;
}

div.ixTableRowButton:hover{

}

.ixTableRowHoverEffect .ixTableRow:hover {
}

.ixTableCellEditorSelect {
  border:1px solid #739DE7;
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  border-radius:3px 3px 3px 3px;
  padding-top:2px;
  padding-bottom:2px;
  padding-left:1px;
  padding-right:1px;
  width:95%;
}

.ixTableCellViewerDisabled, .ixTableButtonDisabled {
  opacity: 0.33;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
  cursor: default;
}

.ixTableViewerCheckboxChecked {
  width: 16px;
  height: 16px;
  background-image: url(../gfx/input-checked.png);
}

.ixTableCellContextMenuButton {
  display:none;
  position:absolute;
  right:0px;
  top:0px;
  width:12px;
  height:12px;
  font-size: 75%;
  text-align: center;
  vertical-align: top;
  cursor:pointer;
}

.ixTableCell:hover .ixTableCellContextMenuButton {
  display:block;
}

.ixTableCellContextMenu {
  /*border: solid 1px;
  background: #ffffff;*/
  position: absolute;
  right: 2px;
  top: 6px;
  padding: 4px 4px 4px 4px;
  z-index: 2;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.ixTableCellContextMenuItem {
  padding: 2px 8px 2px 8px;
  cursor:pointer;
}

.ixTableCellContextMenuItem:hover {
  /*background: #cecece;*/
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.ixTableHeaderSortButton {
  font-size: 75%;
  padding: 0px 2px 0px 2px;
  cursor:pointer;
}

.ixTableHeaderSortButton:hover {
  border: 1px solid #739de7;
}

.ixTableColumnHeaderFiltered {
}