<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="Pyramus" version="2.5">

  <!-- Pyramus -->

  <display-name>Pyramus</display-name>
  <description>Pyramus</description>
  
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>fi.pyramus.util.LocaleFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>fi.pyramus.util.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>pyramus</servlet-name>
    <servlet-class>fi.pyramus.Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>pyramus</servlet-name>
    <url-pattern>*.page</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>pyramus</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>pyramus</servlet-name>
    <url-pattern>*.binary</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secure</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <!-- jstl localization -->
<!-- 
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>fi.pyramus.I18N.pyramuslocale</param-value>
  </context-param>
 -->  
  <!-- Freemarker -->
  
  <servlet>
    
    <servlet-name>freemarker</servlet-name>
    <servlet-class>fi.pyramus.freemarker.FreemarkerServlet</servlet-class>
      
    <!-- FreemarkerServlet settings: -->
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>class://fi/pyramus</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html; charset=UTF-8</param-value>
    </init-param>
      
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>0</param-value> <!-- 0 is for development only! Use higher value otherwise. -->
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value> <!-- The encoding of the template files. -->
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
  
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>  
  
  <listener>
    <listener-class>freemarker.ext.jsp.EventForwarding</listener-class>
  </listener> 
  
  <!-- quartz -->

  <context-param>
    <param-name>config-file</param-name>
    <param-value>quartz.properties</param-value>
  </context-param>

  <listener>
    <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
  </listener>

  <listener>
    <listener-class>fi.pyramus.PyramusServletContextListener</listener-class>
  </listener>

</web-app>
